* {
    margin: 0;
    padding: 0;
  }

 body{
    font-family: Karla, sans-serif;
    background-color: rgba(223, 255, 239, 0.829);
}

h1 { font-size:  3.5em;
    color: #535f59;
    text-align: center;
}
header { max-width: 1000px;
    background-color:#CCFCFF;
}
 a {
    margin-left: 50px;
    text-decoration: none;
}
.pagatual {
    background-color: #b9e6e9b2;
    text-decoration:underline;
}
h2 {
    text-align: center;
    font-size: 2.5em;
    color: #535f59;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 10px;

}
.caixa {
    display: inline-block;
    width: 400px;
    max-height: 350px; 
    margin: 10px; 
    border: 1px solid #000; 
    padding: 10px; 
    background-color: white;
    overflow: hidden;
    transition: max-height 0.3s ease;
    vertical-align:top;
}
.info{
    margin-top: 5px;
}
.preco {
font-size: 2em;
font-weight: bold;
text-align: center;
text-decoration: underline;

}
.imag{
    height: 250px;
    width: 400px;
    
}

button {
    margin: 0 auto;
    
    padding: 0;
    border: none;
    background: none;
    font-size: 1.25em;
    color: red;
    cursor: pointer;
    outline: none;
    display: block;
    font-weight: 400;
}

#txt {
    background-color: white;
   max-width: 1300px;
    max-height: 1300px;
    display: flex;
    align-items: center;

}
#pqt {
    text-align: center;
    padding-top: auto;
    font-size: 1.25em;
}
#sim {
    min-width: 320px;

}